In [ ]:
# Python sautomation Project - Data Cleaning application --

In [ ]:
# Problem Statement - - Create a Python application that can take datasets and clean the data -- This will help avoid wasting time on manually cleaning 
# data which is usually tedious.

#Project Requirements

# It should ask for dataset's path and name
# It should check the number of duplicates and remove all the duplicates
#It should keep a copy of the duplicates
# It should check for missing valueses
# If any column that is numeric, it should replace nulls with mean else it should drop that row
# At the end it shpould save the data as clean and also return duplicate records, clean data

# Libraries to be used - Pandas, Numpy, Openxl

In [1]:
#Importing dependencies

import pandas as pd
import numpy as np
import time
import openpyxl
import os 
import random

In [2]:
pip install xlrd==1.2.0

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: xlrd==1.2.0 in c:\users\user\appdata\roaming\python\python312\site-packages (1.2.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import xlrd

In [5]:
#datapath = "C:/Users/USER/Desktop/Python/Retail Sales Analysis.csv"
#dataname = 'Retail Sales'

In [7]:
sec = random.randint(1,4)

In [9]:
import pandas as pd
import numpy as np
import os
import time
import random

def DataCleaningMaster(datapath, dataname):
    print(f"Thank you for giving the details!")

    sec = random.randint(1, 4)
    print(f"Please wait for {sec} seconds! Checking file path...")
    time.sleep(sec)

    if not os.path.exists(datapath):
        print("Please enter correct path!")
        return

    # Checking file type
    if datapath.endswith('.csv'):
        print('Dataset is CSV!')
        data = pd.read_csv(datapath)
    elif datapath.endswith('.xlsx'):
        print('Dataset is Excel file!')
        data = pd.read_excel(datapath)
    else:
        print('Unknown file type!')
        return

    print(f"Please wait for {sec} seconds! Checking total columns and rows...")
    time.sleep(sec)
    print(f"Dataset contains total rows: {data.shape[0]} and columns: {data.shape[1]}")

    print(f"Please wait for {sec} seconds! Checking duplicates...")
    time.sleep(sec)
    duplicates = data.duplicated()
    totalduplicate = duplicates.sum()
    print(f"Dataset has {totalduplicate} duplicate records.")

    if totalduplicate > 0:
        print(f"Saving {totalduplicate} duplicate records...")
        duplicaterecords = data[duplicates]
        duplicaterecords.to_csv(f"{dataname}_duplicates.csv", index=None)

    # Remove duplicates
    df = data.drop_duplicates()

    print(f"Please wait for {sec} seconds! Checking missing values...")
    time.sleep(sec)
    totalmissingvalues = df.isnull().sum().sum()
    missingvaluebycolumns = df.isnull().sum()
    print(f"Dataset has total missing values: {totalmissingvalues}")
    print("Missing values by column:\n", missingvaluebycolumns)

    print(f"Please wait for {sec} seconds! Cleaning dataset...")
    time.sleep(sec)

    for col in df.columns:
        if pd.api.types.is_numeric_dtype(df[col]):
            df[col] = round(df[col].fillna(df[col].mean()), 2)
        else:
            df.dropna(subset=[col], inplace=True)

    print(f"Please wait for {sec} seconds! Exporting dataset...")
    time.sleep(sec)
    print(f"Congrats! Dataset cleaned — Rows: {df.shape[0]}, Columns: {df.shape[1]}")

    df.to_csv(f"{dataname}_Clean_data.csv", index=None)
    print("Clean dataset saved successfully!")

    return df

In [17]:
DataCleaningMaster(r"C:\Users\USER\Desktop\ACUITY INSIGHTS\European Archive\Weekly Cumulatives\W8CUM.csv","Week8Cum")

Thank you for giving the details!
Please wait for 3 seconds! Checking file path...
Dataset is CSV!
Please wait for 3 seconds! Checking total columns and rows...
Dataset contains total rows: 132 and columns: 24
Please wait for 3 seconds! Checking duplicates...
Dataset has 0 duplicate records.
Please wait for 3 seconds! Checking missing values...
Dataset has total missing values: 0
Missing values by column:
 Team                      0
GamesPlayed               0
Won                       0
Drawn                     0
Lost                      0
Points                    0
Possession                0
TotalPasses               0
FinalThirdPasses          0
BigChances                0
TouchesInOppositionBox    0
ShotsInsideTheBox         0
OnTargets                 0
OnTargetsConceded         0
GoalsFor                  0
GoalsAgainst              0
ExpectedGoals             0
ExpectedAssists           0
xGOT                      0
xGOTC                     0
FHGS                      0
SHGS                      0
FHGC                      0
SHGC                      0
dtype: int64
Please wait for 3 seconds! Cleaning dataset...
Please wait for 3 seconds! Exporting dataset...
Congrats! Dataset cleaned — Rows: 132, Columns: 24
Clean dataset saved successfully!

,Team,GamesPlayed,Won,Drawn,Lost,Points,Possession,TotalPasses,FinalThirdPasses,BigChances,...,GoalsFor,GoalsAgainst,ExpectedGoals,ExpectedAssists,xGOT,xGOTC,FHGS,SHGS,FHGC,SHGC
0,AcMilan,6,4,1,1,13,303,2517,482,15,...,9,3,8.64,6.78,8.74,5.76,4,5,1,2
1,AFS,8,0,1,7,1,348,2074,404,14,...,5,20,6.86,3.99,5.74,16.80,3,2,10,10
2,Ajax,8,4,4,0,16,464,3750,943,27,...,17,10,15.36,14.73,18.32,10.91,9,8,6,4
3,Alverca,8,3,1,4,10,353,2193,345,18,...,11,12,9.99,4.28,9.58,12.99,6,4,10,3
4,Angers,7,1,2,4,5,255,1989,289,12,...,3,11,6.70,4.43,5.32,16.39,1,2,5,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,WerderBremen,6,2,1,3,7,281,2280,419,12,...,9,14,8.72,4.90,9.80,12.27,4,5,7,7
128,WesthamUnited,7,1,1,5,4,319,2279,499,10,...,6,16,6.66,4.75,7.03,13.39,1,5,6,10
129,Wolfsburg,6,1,2,3,5,295,2019,416,20,...,8,10,9.58,6.87,7.26,10.21,2,6,6,4
130,Wolves,7,0,2,5,2,331,2247,423,8,...,5,14,6.13,3.82,5.91,12.04,3,2,9,5
131,Zwolle,8,2,1,5,7,334,2270,527,14,...,7,15,7.36,7.67,6.45,14.91,4,3,9,6

In [ ]:
# -- END OF Data cleaning Master Project -----------
# the Project is complete now, giving you an opportunity to import your file ,and at the end of it all, you import a completely clean file.

In [52]:
print(os.getcwd())

C:\Users\USER